{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Resources" : {
        {% for table_key, table in routing.items() %}
            {% for route_key, route in table['routes'].items() %}

              {% if route['type'] == 'gateway' %}
                "InternetGateway{{ table_key }}{{ route_key }}": {
                    "Type" : "AWS::EC2::InternetGateway",
                    "Properties" : {
                    "Tags" : [ {"Key" : "Name", "Value" : "{{ stack }} - Internet Gateway"} ]
                    }
                },
                "Attachment{{ table_key }}{{ route_key }}": {
                    "Type" : "AWS::EC2::VPCGatewayAttachment",
                    "Properties" : {
                        "InternetGatewayId" : {"Ref": "InternetGateway{{ table_key }}{{ route_key }}"},
                        "VpcId" : "{{ network_id }}"
                     }
                },
              {% elif route['type'] == 'service_endpoint' %}
                "ServiceEndpoint{{ table_key }}{{ route_key }}": {
                   "Type" : "AWS::EC2::VPCEndpoint",
                   "Properties" : {
                        "PolicyDocument" : {
                              "Version":"2012-10-17",
                              "Statement":[{
                                "Effect":"Allow",
                                "Principal": "*",
                                "Action": "*",
                                "Resource": "*"
                              }]
                        },
                        "RouteTableIds" : [ {"Ref": "RouteTable{{ table_key }}"}],
                        "ServiceName" : "{{ route['dest'] }}",
                        "VpcId" : "{{ network_id }}"
                  }
                },
              {% endif %}
              {% if route['type'] != 'service_endpoint' %}
                "Route{{table_key}}{{ route_key }}": {
                   "Type" : "AWS::EC2::Route",
                   {% if route['type'] == 'gateway' %}
                   "DependsOn" : "Attachment{{ table_key }}{{ route_key }}",
                   {% endif %}
                   "Properties" : {
                      "RouteTableId" : { "Ref": "RouteTable{{ table_key }}"},
                      "DestinationCidrBlock" : "{{ route['dest'] }}",
                      {% if route['type'] == 'gateway' %}
                      "GatewayId" : {"Ref": "InternetGateway{{ table_key }}{{ route_key }}"}
                      {% endif %}
                   }
                },
              {% endif %}
            {% endfor %}
            "RouteTable{{ table_key }}": {
               "Type" : "AWS::EC2::RouteTable",
               "Properties" : {
                  "VpcId" : "{{ network_id }}",
                  "Tags" : [ {"Key" : "Name", "Value" : "{{ table['name'] }}"} ]
               }
            }
            {% if not loop.last %},{% endif %}
        {% endfor %}

    },
     "Outputs" : {
      {% for table_key, table in routing.items() %}
      "{{ table_key }}" : {
        "Description" : "{{ table['name'] }} ID",
        "Value" : {
          "Ref" : "RouteTable{{ table_key }}"
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}
    }
}