{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Resources" : {
    "vpc" : {
      "Type" : "AWS::EC2::VPC",
      "Properties" : {
        "CidrBlock" : "{{ network.cidr }}",
        "EnableDnsSupport" : "true",
        "EnableDnsHostnames" : "true",
        "InstanceTenancy" : "default",
        "Tags" : [ {"Key" : "Name", "Value" : "{{ network.name }}"} ]
      }
    }
  },
  "Outputs" : {
      "vpc" : {
        "Description" : "VPC ID",
        "Value" : {
          "Ref" : "vpc"
        }
      }
    }
}